.admin {
  background-image: url('../../../assets//imgs/login_background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px;
}

.admin-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.admin__cols > .admin__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88%;
}

.admin-wrapper > .admin__col {
  width: 80%;
}